
@{
    Layout = null;
}

<html>

<head>
    <meta charset=utf-8>
    <title>Your Life</title>

    <link rel=stylesheet href="~/Content/CSS/Layout.css">
    <script src="~/Content/JS/Layout.js"></script>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <meta charset=utf-8>

</head>

<body style="background-color: white; width: 100%;">

    <nav class="red darken-2" id="menu">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="~/Bastidores/Bastidores" class="btn waves-effect waves-light red lighten-4">Bastidores</a></li>
                <li><a href="~/Relatorio/Relatorio" class="btn waves-effect waves-light red lighten-4">Relatórios</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    <div id="left" class="red darken-2">
    </div>
    <div id="right" class="red darken-2">
    </div>

</body>

</html>
