#cvSaude{
    position: absolute;
    left: 10%;
    top: 15%;
    width: 220px;
    height: 30px;
    background-color: aquamarine;
    border: 1px solid darkcyan;
}

#cvInteligencia {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 220px;
    height: 30px;
    background-color: cornflowerblue;
    border: 1px solid blue;
}

#cvSaude {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 220px;
    height: 30px;
    background-color: aquamarine;
    border: 1px solid darkcyan;
}

#cvSaude {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 220px;
    height: 30px;
    background-color: aquamarine;
    border: 1px solid darkcyan;
}
