#cvSaude{
    position: absolute;
    left: 10%;
    top: 15%;
    width: 220px;
    height: 30px;
    background-color: aquamarine;
    border: 1px solid darkcyan;
}

#cvInteligencia {
    position: absolute;
    left: 20%;
    top: 15%;
    width: 220px;
    height: 30px;
    background-color: cornflowerblue;
    border: 1px solid blue;
}

#cvRelacionamento {
    position: absolute;
    left: 30%;
    top: 15%;
    width: 220px;
    height: 30px;
    background-color: aquamarine;
    border: 1px solid darkcyan;
}

#cvFelicidade {
    position: absolute;
    left: 40%;
    top: 15%;
    width: 220px;
    height: 30px;
    background-color: aquamarine;
    border: 1px solid darkcyan;
}

#btnPersonagem{

}

#btnEnvelhecer{

}
