#pbSaude[value] {
    position: absolute;
    left: 20%;
    top: 70px;
    width: 14%;
    height: 30px;
    background-color: red;
    border: 4px solid maroon;
}

#pbInteligencia {
    position: absolute;
    left: 35%;
    top: 70px;
    width: 14%;
    height: 30px;
    background-color: darkseagreen;
    border: 4px solid green;
}

#pbRelacionamento {
    position: absolute;
    left: 50%;
    top: 70px;
    width: 14%;
    height: 30px;
    background-color: gold;
    border: 4px solid darkgoldenrod;
}

#pbFelicidade {
    position: absolute;
    left: 65%;
    top: 70px;
    width: 14%;
    height: 30px;
    background-color: plum;
    border: 4px solid palevioletred;
}

#btnPersonagem {
    font-size: 15px;
    border-radius: 10px;
}

#btnEnvelhecer {
    font-size: 15px;
    border-radius: 10px;
}

#composicao {
    background-color: #ECC690;
    height:82%;    
    width:100%;
}

progress[value]::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: white;
}
progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
}

@-webkit-keyframes animate-stripes {
    100% {
        background-position: -100px 0px;
    }
}

@keyframes animate-stripes {
    100% {
        background-position: -100px 0px;
    }
}