.caixa {
    top: 5vh;
    position: relative;
    width: 90vh;
    height: 80vh;
    background: url(/Imagens/parque.jpg) no-repeat;
    background-size: 100%;
    border-radius: 95px;
    box-shadow: 1px 1px 15px 1px #888888;
}

.botoes {
    position: relative;
    top: 20vh;
}
