#menu
{
    width: 100%;
    z-index: 1;
}


/*BASTIDORES.HTML*/
#btnJornada
{
    color: red;
    background-color: white;
    left: 25%;
    top: 25%;
    position: relative;
}

#btnDesenvolvimento
{
    color: red;
    background-color: white;
    left: 50%;
    top: 25%;
    position: relative;
}

#footerBastidores
{
    position:relative;
    top:350px;
}
/*-----------------------------------------------------------------------------*/

