body {
}

#obituario {
    width: 70%;
    border: double;
    border-color: black;
    left: 20%;
    position: relative;
    background-image: url('~/Imagens/obituarioBackground.jpg');
}

#pagina{
    height: 150% !important;
}