
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link rel=stylesheet href="~/Content/CSS/Acontecimento.css" />

<blockquote>
    <p class="flow-text">@ViewBag.Acontecimento.Acontecimento</p>
</blockquote>

@*<p class="flow-text">@ViewBag.Acontecimento.Acontecimento</p>*@
<a class="waves-effect waves-green btn-flat">@ViewBag.Escolha.Opcao1</a>
<a class="waves-effect waves-green btn-flat">@ViewBag.Escolha.Opcao2</a>
