
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link rel=stylesheet href="~/Content/CSS/PaginaInicial.css" />
<center>
    <div class="caixa">
        <div class="container botoes">
            <center>
                <a href="~/Jogo/Inicio" class="waves-effect waves-light btn-large">Jogar</a>
                <a href="~/Jogo/Ranking" class="waves-effect waves-light btn-large">Ranking</a>
            </center>
        </div>
    </div>
</center>

