
@{
    ViewBag.Title = "Base";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<body>

    <script src="~/Scripts/base.js"></script>
    <link rel="stylesheet" href="~/Content/CSS/Base.css" />
    <br />
    <center>
        @{
            <img src="@ViewBag.Personagem" id="personagem" height="500" width="350" /> <br />
        }
        <button class="waves-effect waves-light btn" id="btnPersonagem">Personagem</button>
        <button class="waves-effect waves-light btn" id="btnEnvelhecer">Envelhecer</button>
    </center>

    <canvas id="cvSaude"></canvas>
    <canvas id="cvInteligencia"></canvas>
    <canvas id="cvRelacionamento"></canvas>
    <canvas id="cvFelicidade"></canvas>
</body>

