
@{
    ViewBag.Title = "Base";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <script src="~/Scripts/base.js"></script>
    <link rel="stylesheet" href="~/Content/CSS/Base.css" />
    <br />
    <br />
    <br />
    <div id="composicao">
        <center>
            @{
                <img src="@ViewBag.Personagem" id="personagem" height="500" width="350" /> <br />
            }
            <a class="waves-effect waves-light btn green darken-4" id="btnPersonagem" href="~/Jogo/Personagem">Personagem</a>
            <button class="waves-effect waves-light btn green darken-4" id="btnEnvelhecer">Envelhecer! <i class="large material-icons">access_time</i></button>
        </center>

        <progress max="100" value="80" id="pbSaude">
            <div pseudo="-webkit-progress-nnert-element">
                <div pseudo="-webkit-progress-bar">
                    <div pseudo="-webkit-progress-value" style="width:80%"></div>
                </div>
            </div>
        </progress>
        <progress max="100" value="80" id="pbInteligencia"></progress>
        <progress max="100" value="80" id="pbRelacionamento"></progress>
        <progress max="100" value="80" id="pbFelicidade"></progress>
    </div>
</body>



