
@{
    ViewBag.Title = "Base";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<body>

    <script src="~/Scripts/base.js"></script>
    <link rel="stylesheet" href="~/Content/CSS/Base.css" />
    <br />
    <div id="composicao">
        <center>
            @{
                <img src="@ViewBag.Imagem" id="personagem" height="500" width="350" /> <br />
            }
            <a class="waves-effect waves-light btn green darken-4 botoes" href="~/Jogo/Personagem">Personagem</a>
            <a class="waves-effect waves-light btn green darken-4 botoes" href="~/Jogo/Envelhecer">Envelhecer!<i class="material-icons">access_time</i></a>
        </center>
    </div>
    
        <progress max="100" value="80" id="pbSaude"></progress>
        <progress max="100" value="80" id="pbInteligencia"></progress>
        <progress max="100" value="80" id="pbRelacionamento"></progress>
        <progress max="100" value="80" id="pbFelicidade"></progress>


        <a class="waves-effect waves-light btn green darken-4 botoes" id="mercado" href="/MudarPagina/0/Mercado">Mercado</a>
        <a class="waves-effect waves-light btn green darken-4 botoes" id="empregos" href="/MudarPagina/0/Emprego">Empregos</a>
        <a class="waves-effect waves-light btn green darken-4 botoes" id="cursos" href="/MudarPagina/0/Curso">Cursos</a>
        <a class="waves-effect waves-light btn green darken-4 botoes" id="outros" href="">Outros</a>
</body>

