@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/CSS/Login.css" />

<center>
    <div class="caixa">
        <div class="container botoes">
            <center>
                <form action="/Jogo/AdicionarJogador" method="post" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="usu.nickname">Digite o seu nome de usuário:</label>
                            <input type="text" id="usu.nickname" name="usu.nickname" maxlength="15" />
                            @Html.ValidationMessage("usu.nickname")
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="usu.senha">Senha:</label>
                            <input type="password" id="usu.senha" name="usu.senha" />
                            @Html.ValidationMessage("usu.senha")
                        </div>
                    </div>
                    <center>
                        <button type="submit" class="waves-effect waves-light btn blue" style="font-family: 'Open Sans', sans-serif;">Cadastrar</button>
                    </center>
                </form>
            </center>
        </div>
    </div>
</center>

<div class="modal modal-fixed-footer" id="modal">
    <div class="modal-content">
        <div class="modal-header" id="headerModalAviso">
            <h3><i>Cadastro</i></h3>
        </div>
        <div class="modal-body">
            <p>Verifique seu login e senha!</p>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

<script>
    var modal = document.getElementById("modal");

    abrirModal = function () {
        modal.style.display = "block";
    }

    window.onload = function () {
        document.getElementById('form').onsubmit = function (e) {
            var validado = false;


            $.ajaxSetup({ async: false });
            $.when($.post('/Jogo/ValidarLogin', {
                senha: $('#txtSenha').val(),
                nick: $('#txtNickname').val()
            },
                function (data) {
                    if (data) {
                        alert(data);
                        validado = true;
                    }
                    else {
                        abrirModal();
                        validado = false;
                    }
                })).done(function () {
                    if (!validado)
                        e.preventDefault();
                });
        }
    }

    window.onclick = function (event) {
            modal.style.display = "none";
    };


</script>
