
@{
    ViewBag.Title = "Emprego";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<body>
    <table class="highlight centered" style="width: 50em; border: 1px solid #e0e0e0; position:relative;
    top:3em; left: 55%; margin-left:-25em; max-height:900px;">
        <thead>
            <tr>
                <th>Emprego</th>
                <th>Salário</th>
                <th>Experiência Necessária</th>
            </tr>
        </thead>


        <tbody >
            @foreach (var emp in ViewBag.Emprego)
            {
                <tr>
                    <td>@emp.trabalho</td>
                    <td>@emp.salario</td>
                    <td>@emp.anosExperiencia</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>


