
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2 style="color:orangered; font-family:'Courier New'">Selecione o seu personagem:</h2>

<img src="~/Imagens/menino.png" width="200" height="200" value="M" onclick="SalvarPersonagem('M');" />
<img src="~/Imagens/menina.png" width="150" height="200" value="F" onclick="SalvarPersonagem('F');" />