
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Sofia" rel="stylesheet">
</head>
<center>
    <h2 style="color:deepskyblue; font-family: 'Sofia', cursive;">Selecione o seu personagem inicial:</h2>
    <br />
    <img src="~/Imagens/menino.png" width="300" height="300" value="M" name="jog.Sexo" onclick="" />
    <img src="~/Imagens/menina.png" width="215" height="300" value="F" name="jog.Sexo" onclick="" />
</center>