
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Sofia" rel="stylesheet">
    <link rel=stylesheet href="~/Content/CSS/EscolhaPersonagem.css" />
</head>
<center>
    <div class="caixa">
        <div class="container conteudo">
            <center>
                <p  class="flow-text" style="color:deepskyblue; font-family: 'Sofia', cursive; font-size:6vh;">Selecione o seu personagem inicial:</p>
                <br />
                <a href="/SalvarPersonagem/M"><img src="~/Imagens/menino.png" width="220" height="300" value="M" name="jog.Sexo" /></a>
                <a href="/SalvarPersonagem/F"><img src="~/Imagens/menina.png" width="215" height="300" value="F" name="jog.Sexo" /></a>
            </center>
        </div>
    </div>
</center>