
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script src="~/Content/JS/Inicio.js"></script>
<link rel=stylesheet href="~/Content/CSS/PaginaInicial.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="~/Content/JS/materialize.js"></script>
<script src="~/Content/JS/materialize.min.js"></script>
<center>
    <div class="caixa">
        <div class="container botoes">
            <center>
                <a href="#" onclick="abrirModal();" class="waves-effect waves-light btn-large">Jogar</a><br />
                <a href="~/Jogo/Ranking" class="waves-effect waves-light btn-large">Ranking</a>
            </center>
        </div>
    </div>
</center>

<a class="waves-effect waves-light btn view" onclick="abrirModal();">View Scores</a>
<!-- Modal Structure -->
<div class="modal" id="modal1">
    <div class="modal-content">
        <div class="modal-header" id="headerModalAviso">
            <span class="close">&times;</span>
            <h3><i>Cadastro</i></h3>
        </div>
        <div class="modal-body">
            <h5 id="h5ModalAviso"></h5>
        </div>
    </div>
</div>