
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script src="~/Content/JS/Inicio.js"></script>
<link rel=stylesheet href="~/Content/CSS/PaginaInicial.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<center>
    <div class="caixa">
        <div class="container botoes">
            <center>
                <a href="#" onclick="abrirModal();" class="waves-effect waves-light btn-large">Jogar</a><br />
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
                <a href="~/Jogo/Ranking" class="waves-effect waves-light btn-large">Ranking</a>
            </center>
        </div>
    </div>
</center>

<a class="waves-effect waves-light btn view" onclick="$('.modal').modal('open');">View Scores</a>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>