
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}


<link rel="stylesheet" href="~/Content/CSS/Login.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<center>
    <div class="caixa">
        <div class="container botoes">
            <center>
                <form id="form" action="/Jogo/LogarUsuario" method="post" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="usu.nickname">Digite o seu nome de usuário:</label>
                            <input type="text" id="txtNickname" name="usu.nickname" maxlength="15" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="usu.senha">Senha:</label>
                            <input type="password" id="txtSenha" name="usu.senha" maxlength="15" required/>
                        </div>
                    </div>
                    <center>
                        <button type="submit" class="waves-effect waves-light btn" style="font-family: 'Open Sans', sans-serif;">Logar</button>
                    </center>
                </form>
            </center>
        </div>
    </div>
</center>

<div class="modal modal-fixed-footer" id="modal">
    <div class="modal-content">
        <div class="modal-header" id="headerModalAviso">
            <h3><i>Login</i></h3>
        </div>
        <div class="modal-body">
            <p>Verifique seu login e senha!</p>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
</div>

<script>
    var modal = document.getElementById("modal");

    abrirModal = function () {
        modal.style.display = "block";
    }

    window.onload = function () {
        document.getElementById('form').onsubmit = function (e) {
            var validado = false;

            
            $.ajaxSetup({ async: false });
            $.when($.post('/Jogo/ValidarLogin', {
                senha: $('#txtSenha').val(),
                nick: $('#txtNickname').val()
            },
                function (data) {
                    if (data) {
                        validado = true;
                    }
                    else {
                        abrirModal();
                        validado = false;
                    }
                })).done(function () {
                    if (!validado)
                        e.preventDefault();
                });
        }
    }

    window.onclick = function (event) {
            modal.style.display = "none";
    };
    

</script>