@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<html>
<head>
    <title>Outros</title>
</head>

<body>
    <h3>Outras Opções</h3>
    <hr style="height: 1px;"/>

    <button>Suicídio</button>
    

</body>




</html>


