@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/Content/JS/Outros.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kodchasan&display=swap" rel="stylesheet">
</head>

<body style="font-family:'Calisto MT'">
    @{
        ViewBag.Personagem = Session["Personagem"];
        string disabledPorIdade = "", disabledPorDinheiro = "", disabledSuicidio = "", disabledRel = "", disabledEmprego = "", disabledViajar = "";
        if (ViewBag.Personagem.Idade < 18)
        {
            disabledPorIdade = "disabled";

            if (Session["Cinema"] != null)
            {
                disabledCinema = "disabled";
            }
            if (Session["Parentes"] != null)
            {
                disabledParentes = "disabled";
            }
        }
        else
        {
            if (ViewBag.Personagem.PontosFelicidade > 200)
            {
                disabledSuicidio = "disabled";
            }
            if (ViewBag.Personagem.Parceiro == 0)
            {
                disabledRel = "disabled";
            }
            if (ViewBag.Personagem.CodEmprego == 0)
            {
                disabledEmprego = "disabled";
            }
            if (ViewBag.Personagem.Dinheiro < 100)
            {
                disabledPorDinheiro = "disabled";
            }
            else if (ViewBag.Personagem.Dinheiro < 10000)
            {
                disabledViajar = "disabled";
            }

            if (Session["Cinema"] != null)
            {
                disabledCinema = "disabled";
            }
            if (Session["Parentes"] != null)
            {
                disabledParentes = "disabled";
            }
            if (Session["Academia"] != null)
            {
                disabledAcademia = "disabled";
            }
        }
    }
    <a href="/Jogo/Base" class="waves-effect waves-light btn" style="position:relative;left:0;top:0;">Voltar</a>

    <div class="container">
        <p style="font-size:4vh">
            Outras Opções
            <a class="btn-floating btn-small red modal-trigger" href="#modalInfo"><i class="material-icons">info_outline</i></a>
        </p>
        <hr style="height: 1px;" />

        <a class="btn white red-text z-depth-5 modal-trigger @disabledPorIdade @disabledSuicidio                   "    href="#modalGeral" onclick="suicidio();"><i class="material-icons right">sentiment_very_dissatisfied</i>Suicídio</a><br /><br />
        <a class="btn white red-text z-depth-5 modal-trigger @disabledPorIdade @disabledRel                        "    href="#modalGeral" onclick="terminarRel();"><i class="material-icons right">favorite</i>Terminar Relacionamento</a><br /><br />
        <a class="btn white red-text z-depth-5 modal-trigger @disabledPorIdade @disabledPorDinheiro                "    href="#modalGeral" onclick="academia();"><i class="material-icons right">fitness_center</i>Academia</a><br /><br />
        <a class="btn white red-text z-depth-5 modal-trigger                                                       "    href="#modalGeral" onclick="passear();">Passear</a><br /><br />
        <a class="btn white red-text z-depth-5 modal-trigger @disabledPorIdade @disabledEmprego                    "    href="#modalGeral" onclick="demissao();"><i class="material-icons right">settings_power</i>Pedir demissão</a><br /><br />
        <a class="btn white red-text z-depth-5 modal-trigger                                                       "    href="#modalGeral" onclick="visitarParentes();"><i class="material-icons right">home</i>Visitar Parentes</a><br /><br />
        <a class="btn white red-text z-depth-5 modal-trigger @disabledPorDinheiro                                  "    href="#modalGeral" onclick="cinema();"><i class="material-icons right">tv</i>Ir ao cinema</a><br /><br />
        <a class="btn white red-text z-depth-5 modal-trigger @disabledPorDinheiro @disabledViajar @disabledPorIdade"    href="#modalGeral" onclick="viajar();"><i class="material-icons right">flight</i>Viajar</a><br /><br />

        <!-- Modal Geral -->
        <div id="modalGeral" class="modal modal-fixed-footer">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="font-family: 'Kodchasan', sans-serif;" class="blue-text text-darken-2" id="cabecalho">TITULO</h4>
                </div>
                <div class="modal-body">
                        <div class="input-field col s12">
                            <p id="lbl1"></p>
                        </div>
                        <center>
                            <a class="waves-effect waves-light btn" id="resposta1" href="">Sim</a>
                            <button class="modal-close waves-effect waves-light btn" id="resposta2">Não</button>
                        </center>
                </div>
            </div>
        </div>
        <br />

        <!-- Modal de Informação -->
        <div id="modalInfo" class="modal modal-fixed-footer">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="font-family: 'Kodchasan', sans-serif;" class="blue-text text-darken-2">Dúvidas????</h4>
                </div>
                <div class="modal-body">
                    <ul style="list-style-type: circle;">
                        <li>Suicídio</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">Você não pode cometer suicídio se tiver menos de 18 anos</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">Para cometer suicídio, você deve estar extremamente infeliz (pontos de felicidade menores que 200)</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">Se a sua felicidade chegar a 0, você cometerá suicídio</li>
                    </ul>
                    <ul style="list-style-type: circle;">
                        <li>Relacionamento</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">Você não pode terminar um relacionamento sem estar em um!</li>
                    </ul>
                    <ul style="list-style-type: circle;">
                        <li>Academia</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">Você não pode ir à academia se tiver menos de 18 anos</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">Além disso, você precisa ter dinheiro, pois custa $100</li>
                    </ul>
                    <ul style="list-style-type: circle;">
                        <li>Passear</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">Não há nenhuma restrição quanto a passear</li>
                    </ul>
                    <ul style="list-style-type: circle;">
                        <li>Demissão</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">Você não pode pedir demissão se não estiver trabalhando!</li>
                    </ul>
                    <ul style="list-style-type: circle;">
                        <li>Visitar Parentes</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">Você pode visitar parentes quando quiser antes dos 18 anos, já que seus pais te levam</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">A partir dos 18 anos, passa a custar $100 visitar seus parentes</li>
                    </ul>
                    <ul style="list-style-type: circle;">
                        <li>Cinema</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">Você pode ir ao cinema quando quiser antes dos 18 anos, já que seus pais te levam</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">A partir dos 18 anos, passa a custar $100 ir ao cinema</li>
                    </ul> 
                    <ul style="list-style-type: circle;">
                        <li>Viajar</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">Você pode viajar apenas a partir dos 18 anos!</li>
                        <li style="font-family: 'Kodchasan', sans-serif; font-size: 2vh;">Viagens custam caro ($10000), mas te trazem uma imensa felicidade!!</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</body>
</html>


