@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link rel=stylesheet href="~/Content/CSS/PaginaInicial.css" />
<center>
    <div class="caixa">
        <div class="container botoes">
            <center>
                <a href="~/Jogo/Cadastro" class="waves-effect waves-light btn-large">Cadastrar</a><br />
                <a href="~/Jogo/Login" class="waves-effect waves-light btn-large">Logar</a>
            </center>
        </div>
    </div>
</center>