
@{
    ViewBag.Title = "Personagem";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Sofia" rel="stylesheet">

<center>
    <h1 style="font-family: 'Sofia',cursive;" class="blue-text text-darken-2">Sobre o Personagem</h1>
</center>

<p>Nome: @ViewBag.Jogador.Nickname</p>
<p>Idade: @ViewBag.Jogador.Idade anos</p>
<p></p>