
@{
    ViewBag.Title = "Ranking";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<head>
    <link rel=stylesheet href="~/Content/CSS/Ranking.css">
</head>

<body>
    <p>Ranking</p>
    <hr>

    <br>

    <table class="highlight centered">
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Pontuação</th>
            </tr>
        </thead>

        <tbody>
            @{int cont = 1; }

            @foreach (var rk in ViewBag.Ranking)
            {
                <tr>
                    <td>@cont</td>
                    <td>@rk.Nickname</td>
                    <td>@rk.Pontos</td>
                </tr>

                cont = cont + 1;

            }
        </tbody>
    </table>
</body>


