#menu
{
    height: 10%;
    width: 100%;
}



#left{
    width: 5%;
    height: 90%;
    background-color:cornflowerblue;
    position: absolute;
    top: 10%;
}


#right{
    width: 5%;
    height: 90%;
    background-color:cornflowerblue;  
    position: absolute;
    right: 0%;
    top: 10%;
}

#btnRelatorios
{
    background-color: white;
    color           : black;
    position: absolute;
    right: 5%;
    top: 3%;
}

#btnBastidores
{
    background-color: white;
    color           : black;
    position: absolute;
    right: 15%;
    top: 3%;
}

#imagemLogo
{
    width: 750px;
    height: 600px;
    position: relative;
    top: 20%;
}

