
@{
    ViewBag.Title = "Base";
    Layout = "~/Views/Jogo/Layout.cshtml";
}

<body>

    <script src="~/Scripts/base.js"></script>
    <link rel="stylesheet" href="~/Content/Base.css" />
    <br />
    <center>
        <button class="waves-effect waves-light btn">Personagem</button><br />
        <img src="~/Imagens/menina.png" height="500" width="350" /> <br />
        <button class="waves-effect waves-light btn">Envelhecer</button>
    </center>

    <canvas id="cvSaude"></canvas>
    <canvas id="cvInteligencia"></canvas>
    <canvas id="cvRelacionamento"></canvas>
    <canvas id="cvFelicidade"></canvas>
</body>

