@{
    Layout = "~/Views/Jogo/Layout.cshtml";
}

<body>

    <script src="~/Scripts/inicio.js"></script>
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <label for="nome">Digite o seu nome:</label>
                <input type="text" value="" id="nome" name="nome" maxlength="15" data-request-url="@Url.Action("ExisteJogador", "Jogo")" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="senha">Senha:</label>
                <input type="password" value="" id="senha" name="senha" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="confirmaSenha">Confirmar senha:</label>
                <input type="password" value="" id="confirmaSenha" name="confirmaSenha" />
            </div>
        </div>
    </form>
    <h2 style="color:orangered; font-family:'Courier New';">Selecione o seu personagem:</h2>

    <img src="~/Imagens/menino.png" onclick="SalvarPersonagem('M');" />
    <img src="~/Imagens/menina.png" onclick="SalvarPersonagem('F');" />

</body>
