<body style="background:url('../../html/Imagens/Your life.png') -moz-element(#id) no-repeat">

    <h1 style="color:orangered; font-family:'Courier New';">Selecione o sexo do personagem:</h1>

    <img src="~/html/Imagens/menino.png"/>
    <img src="~/html/Imagens/menina.png"/> 

</body>
