@{ 
    Layout = "~/Views/Jogo/Layout.cshtml";
}

<body style="background:url('~/Imagens/Your life.png') -moz-element(#id) no-repeat">

    <script src="~/Scripts/inicio.js"></script>
    <form class="col s12">
        <div class="row">

            <label for="nome">Digite o seu nome:</label><br />
            <input type="text" value="" id="nome" name="nome" placeholder="" data-request-url="@Url.Action("ExisteJogador", "Jogo")" /><br /><br />

        </div>
        <div class="row">

            <label for="senha">Senha:</label><br />
            <input type="password" value="" id="senha" name="senha" /><br /><br />

        </div>
        <div class="row">

            <label for="confirmaSenha">Confirmar senha:</label><br />
            <input type="password" value="" id="confirmaSenha" name="confirmaSenha" /><br /><br />

        </div>
    </form>
    <h2 style="color:orangered; font-family:'Courier New';">Selecione o seu personagem:</h2>

    <img src="~/Imagens/menino.png" onclick="SalvarPersonagem('M');" />
    <img src="~/Imagens/menina.png" onclick="SalvarPersonagem('F');" />

</body>
