
@{
    ViewBag.Title = "Jogo";
}

<html>

<head>
    <meta charset=utf-8>
    <title>Your Life</title>

    <link rel=stylesheet href="~/html/css/estilo.css">
    <script src="~/html/js/principal.js"></script>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>

<body style="background-color: white; height: 100%;">

    <nav class="red darken-2" id="menu">

        <button class="waves-effect waves-light btn" onclick="abrir('bastidores.html')" id="btnBastidores">Bastidores</button>
        <button class="waves-effect waves-light btn" onclick="abrir('relatorio.html')" id="btnRelatorios">Relatórios</button>

    </nav>


    <div id="left" class="red darken-2">
        <article></article>
    </div>

    <!--<canvas id="canvaSaude"></canvas>
        <canvas id="canvaInt"></canvas>
        <canvas id="canvaRelac"></canvas>
        <canvas id="canvaFelic"></canvas>


    <hr id="separacaoCimaTela">-->

    <center>
        <canvas style="background: url('../../html/Imagens/LogoSemPlanoDeFundo.png') no-repeat;background-size:100%;" id="Jogo"></canvas>
        <script>
            function mudarBackground() {
                document.getElementById('Jogo').style.backgroundImage = 'url(../../html/Imagens/sala_de_escola.png)';
            }

            setTimeout(mudarBackground, 3000);
        </script>
    </center>

    <div id="right" class="red darken-2">
        <article></article>
    </div>

</body>

</html>
