
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container" style="top: 30vh; position:relative; border: 1px solid #bdbdbd; box-shadow: 3px 3px 10px;">
    <a class="grey-text right" target="_blank" href="https://www.vexels.com/vetores/previsualizar/129418/maquete-de-personagem-do-homem-negro"> Maquete de personagem do homem negro </a> |   Designed by Vexels.com<br />
    <a class="grey-text right" target="_blank" href="https://www.vexels.com/vetores/previsualizar/129397/maquete-de-personagem-feminina-negra"> Maquete de personagem feminina negra </a> |   Designed by Vexels.com<br />
    <a class="grey-text right" target="_blank" href="https://www.vexels.com/vetores/previsualizar/130693/tshirt-verde-dos-homens-para-tr-s"> Tshirt verde dos homens para trás </a> |   Designed by Vexels.com<br />
    <a class="grey-text right" target="_blank" href="https://www.vexels.com/vetores/previsualizar/129477/mens-azul-pant-cartoon"> Mens azul pant cartoon </a> |   Designed by Vexels.com<br />
    <a class="grey-text right" target="_blank" href="https://www.vexels.com/vetores/previsualizar/129463/sapato-de-menina-azul"> Sapato de menina azul </a> |   Designed by Vexels.com<br />
    <a class="grey-text right" target="_blank" href="https://www.vexels.com/vetores/previsualizar/129426/pano-das-mulheres-negras"> Pano das mulheres negras </a> |   Designed by Vexels.com
    <a class="grey-text right" href="https://br.vexels.com/png-svg/previsualizar/127632/desenhos-animados-secretario-feminino"> Desenhos animados secretário feminino </a> | designed by Vexels <br />
    <a class="grey-text right" target="_blank" href="https://www.vexels.com/vetores/previsualizar/128199/desenho-de-estudante-masculino"> Desenho de estudante masculino </a> |   designed by Vexels <br />
    <a class="grey-text right" href="https://www.vexels.com/vetores/previsualizar/131322/homem-dos-desenhos-animados-cabe-a-4"> Homem dos desenhos animados cabeça 4 </a> | designed by Vexels
</div>